<form [formGroup]="form" (ngSubmit)="mode === 'login' ? login() : register()">
  <h2>{{ mode === 'login' ? 'Login' : 'Register' }}</h2>

  <div class="field-container">
    <input placeholder="Email" formControlName="email" type="email" />
    <div class="notError" [class.error-spacer]="form.get('email')?.invalid && form.get('email')?.touched">
      @if (form.get('email')?.invalid && form.get('email')?.touched) {
        <small class="error">Please enter a valid email.</small>
      }
    </div>
  </div>

  <div class="field-container">
    <input placeholder="Password" type="password" formControlName="password" />
    <div class="notError" [class.error-spacer]="form.get('password')?.invalid && form.get('password')?.touched" >
      @if (form.get('password')?.invalid && form.get('password')?.touched) {
        <small class="error">Minimum 8 characters required.</small>
      }
    </div>
  </div>

  @if (mode === 'register') {
    <div class="field-container">
      <input placeholder="Confirm Password" type="password" formControlName="confirmPassword" />
      <div class="notError" [class.error-spacer]="form.hasError('mismatch') && form.get('confirmPassword')?.touched">
        @if (form.hasError('mismatch') && form.get('confirmPassword')?.touched) {
          <small class="error">Passwords do not match.</small>
        }
      </div>
    </div>
  }

  <div class="button-group">
    <button class="btn-primary" type="submit" [disabled]="form.invalid">
      {{ mode === 'login' ? 'Login' : 'Register' }}
    </button>
    <button type="button" class="btn-google" (click)="loginWithGoogle()">Continue with Google</button>
    <button type="button" class="btn-danger" (click)="close()">Close</button>
  </div>
</form>