<form [formGroup]="form">
@if(mode === 'login'){
<h2 >Login</h2>
} @else{
<h2>Register</h2>
}
<input placeholder="Email" formControlName="email" />
<input placeholder="Password" type="password"  formControlName="password" />
@if(mode === 'login'){
<button class="btn-primary" (click)="login()">login</button>
} @else{
<button class="btn-primary" (click)="register()">register</button>
}
<button class="btn-primary" (click)="loginWithGoogle()">Continue with Google</button>
<button class="btn-danger" (click)="close()">Close</button>
</form>