
<div   class="modal">
  <h2>Create Project</h2>

  <form [formGroup]="form">
    <input formControlName="title" placeholder="Project Title" />
      <div class="notError" [class.error-spacer]="form.get('title')?.invalid && form.get('title')?.touched">
      @if (form.get('title')?.invalid && form.get('title')?.touched) {
        <small class="error">Please enter a valid title.</small>
      }
    </div>
    <textarea formControlName="description" placeholder="Description (optional)"></textarea>
  </form>

  <button class="btn-primary" type="button" (click)="createProject()">Create</button>
  
<button class="btn-danger" type="button" (click)="close()">Close</button>
</div>