
  <div class="home">

  <div class="top-bar">
    <div class="brand">Project Manager</div>

    <div class="top-actions">
      @if (user$ | async; as user) {
        <span>{{ user.email }}</span>
        <button class="btn-primary" (click)="auth.logout()">Logout</button>
      } @else {
        <button   class="btn-primary"(click)="openLoginModal()">Login</button>
        <button  class="btn-primary" (click)="openRegisterModal()">Register</button>
      }
    </div>
  </div>

<div class="projects-page">
  @if ({ 
    user: user$ | async, 
    projects: projects$ | async 
  }; as data) {

    @if (data.user) {
      <button class="btn-primary" (click)="openCreateProjectModal()">
        <span>+</span> Create Project
      </button>
<!-- loader -->
      @if (isLoading) {
        <div class="loader-wrapper">
          <div class="spinner"></div>
          <p>Fetching projects...</p>
        </div>
      } @else {
        <div class="grid">
          @for (project of data.projects; track project.id) {
            <div class="card" (click)="openTasks(project)">
              <h3>{{ project.title }}</h3>
              <h4>{{ project.description }}</h4>
              
              @if(project.isDone){
                <span class="status done">✔️ Completed</span>
              } @else {
                <span class="status pending">⏳ In Progress</span>
              }
              
              <button class="delete-btn" (click)="confirmDelete(project.id, $event)">
                🗑️ Delete
              </button>
              <p>Click to open tasks</p>
            </div>
          } @empty {
            <p>No projects found. Create one to get started!</p>
          }
        </div>
      }
    } @else {
      <button class="btn-secondary" (click)="openLoginModal()">
        Login to Create
      </button>
      <p>Please login to view your projects.</p>
    }
  }
</div>
</div>